# dependencies
/node_modules

# testing
/coverage

# build output
/dist
/out

# vite
/.vite
.vite-temp

# tanstack router generated (committed so CI doesn't need to regenerate)
# /src/routeTree.gen.ts

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# editor
.vscode/settings.json
.kiro

# tanstack devtools cache
/.tanstack
